<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499783612363-v3s36gum16rk5u5e85stjj706huk9kth.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499783612363-v3s36gum16rk5u5e85stjj706huk9kth</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>499783612363-5unkpnjia7opohjqm7e5hhcaj1kpha13.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwAP_a2tZ5qo4my8x06bvhxmQSDdN1erU</string>
	<key>GCM_SENDER_ID</key>
	<string>499783612363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.com.midesarrollo.erp.notificaciones</string>
	<key>PROJECT_ID</key>
	<string>notificaciones-push-afb6a</string>
	<key>STORAGE_BUCKET</key>
	<string>notificaciones-push-afb6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499783612363:ios:16e9a1fc0b98855df4284e</string>
	<key>DATABASE_URL</key>
	<string>https://notificaciones-push-afb6a.firebaseio.com</string>
</dict>
</plist>